<%=render 'shared/errors', object: @registration%>

<div class="container">
  <div class="row">
    <div class="col">
      <%= form_for([@event, @registration]) do |form|%>

        <div class="form-group">
          <%=form.label "How'd you hear about us?" %><br>
          <%=form.select :how_heard, Registration::HOW_HEARD, class:"form-control"%>
        </div>

        <%=form.submit class:"btn btn-primary" %>
      <%end %>

    </div>
  </div>
</div>