
<%content_for(:title, @event.name) %>

<div class="container">
  <div class="row">

    <div class="col-md-12 col-lg">
      <%= image_tag(@event.image_file_name, class: "card-img-top")%>
    </div>
    <div class="col">

      <table class="table table-striped">
        <thead>
        <tr>

        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">Name</th>
          <td><%=@event.name %></td>
        </tr>

        <tr>
          <th scope="row">Description</th>
          <td><%=@event.description %></td>
        </tr>

        <tr>
          <th scope="row">Location</th>
          <td><%=@event.location %></td>
        </tr>

        <tr>
          <th scope="row">Price</th>
          <td><%=price_view(@event) %></td>
        </tr>

        <tr>
          <th scope="row">Date</th>
          <td><%= format_date(@event)%></td>
        </tr>

        <tr>
          <th scope="row">Time</th>
          <td><%= format_time(@event)%></td>
        </tr>

        <tr>
          <th scope="row">Seats Remaining</th>
          <td><%= @event.spots_left %></td>
        </tr>



        </tbody>
      </table>

      <div class="d-flex">
        <%if current_user %>
          <%=register_for(@event) %>
        <%end %>

        <%if current_user && current_user.admin? %>
          <%= link_to "Edit", edit_event_path(@event), class:"btn btn-primary mr-2" %>
          <%= link_to "Delete", event_path, class:"btn btn-danger mr-2", method: :delete, data:{confirm:"Are you sure?"} %>
        <%end %>

        <%if current_user %>
          <% if current_user.likes.find_by(event_id: @event.id) %>
            <%=link_to "Unlike", event_like_path(@event), method: :delete, class:"btn btn-primary" %>
          <%else %>
            <%=link_to "Like", event_likes_path(@event), method: :post, class:"btn btn-primary"%>
          <%end %>
        <%end %>

      </div>

    </div>
    <div class="col-sm-12 col-lg-2 mt-4 mt-lg-0">

      <%if current_user %>
        <%if @event.anyone_registered %>
          <div class="row flex-column">

            <h2 class="h5">Attendees (<%=@registrations.count %>)</h2>
            <%@registrations.each do |registration| %>
              <div class="d-flex">
                <i class="material-icons mr-1">person</i>
                <p class="mb-1"><%=link_to registration.user.name, registration.user %></p>
              </div>
            <%end %>

          </div>
        <%end %>
      <%end %>


      <%if @likers.any? %>
        <div class="row flex-column mt-3">
          <h2 class="h5">Likes</h2>
          <%@likers.each do |liker| %>
            <div class="d-flex">
              <i class="material-icons mr-1">favorite</i>
              <p class="mb-1"><%=link_to liker.name, liker%></p>
            </div>
          <%end %>

        </div>
      <%end %>





    </div>

  </div>
</div>