

<div class="row flex-column flex-md-row">

  <div class="col">
    <%= image_tag(@event.image_file_name, class: "card-img-top")%>
  </div>

  <div class="col">

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Label</th>
        <th scope="col">Value</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">Name</th>
        <td><%=@event.name %></td>
      </tr>

      <tr>
        <th scope="row">Description</th>
        <td><%=@event.description %></td>
      </tr>

      <tr>
        <th scope="row">Location</th>
        <td><%=@event.location %></td>
      </tr>

      <tr>
        <th scope="row">Price</th>
        <td><%=price_view(@event) %></td>
      </tr>

      <tr>
        <th scope="row">Date</th>
        <td><%= format_date(@event)%></td>
      </tr>

      <tr>
        <th scope="row">Time</th>
        <td><%= format_time(@event)%></td>
      </tr>

      <tr>
        <th scope="row">Seats Remaining</th>
        <td><%= @event.spots_left %></td>
      </tr>



      </tbody>
    </table>

    <div class="d-flex">

      <%=register_for(@event) %>
      <%= link_to "Edit", edit_event_path(@event), class:"btn btn-primary mr-2" %>
      <%= link_to "Delete", event_path, class:"btn btn-danger mr-2", method: :delete, data:{confirm:"Are you sure?"} %>
    </div>

  </div>
</div>

<%if @event.anyone_registered %>
<div class="container py-5">
  <div class="row">
    <div class="col">
      <h1 class="mb-0 ">Attendees</h1>
      <small><%= link_to "All Registrations", event_registrations_path(@event)%></small>
      <ul class="list-group list-group-flush pt-3">
      <%@registrations.each do |registration| %>
          <li class="list-group-item"><%=registration.name %></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
<%end%>

