<!DOCTYPE html>
<html>
  <head>
    <title>EventsRails6 - <%=content_for(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--Google Material Icons Imported As Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/flashnotice' %>
    <%= render 'layouts/footer' %>

    <%= yield %>


    <div class="row">
      <div class="col">

        <li><%=link_to "Past Events", filtered_events_path(:past) %></li>
        <li><%=link_to "Free Events", filtered_events_path(:free) %></li>
        <li><%=link_to "Upcoming Events", filtered_events_path(:upcoming) %></li>

        <%=content_for(:side) %>
      </div>
    </div>
  </body>
</html>
